.header {
  border-bottom: 2px solid #ececec;
  position: relative;
}

.header-container {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .header-container {
    justify-content: space-between;
  }

  .nav-list {
    display: none;
  }

  .contact {
    display: none;
  }

  .contact-tel {
    display: none;
  }

  .mobile-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    overflow: auto;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &.is-open {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }
  }

  .mobile-menu-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
    margin: 10px 0px;
  }

  .mobile-menu-btn__icon {
    fill: var(--primary-text-color);
  }

  .mobile-menu-btn__container {
    position: relative;
    padding: 48px 40px;
    min-width: 320px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .mobile-menu__close {
    position: absolute;
    top: 10px;
    right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: none;
    padding: 0;
    line-height: 0;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      fill: var(--accent-color);
    }
  }

  .nav-list__link {
    display: block;

    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: inherit;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }

  .nav-list__item:not(:last-child) {
    margin-bottom: 32px;
  }

  .current {
    color: var(--accent-color);
  }

  .cont-list {
    margin-top: auto;
  }

  .tel {
    display: block;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--accent-color);
    margin-top: auto;
  }
  .mail {
    display: block;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
    margin-top: 32px;
  }

  .mob-social-list {
    display: flex;
    margin-top: 64px;
  }

  .mob-social-list__item {
    &:not(:last-child) {
      border-right: 1px solid rgba(33, 33, 33, 0.2);
      padding-right: 10px;
    }

    &:not(:first-child) {
      padding-left: 10px;
    }
  }

  .mob-social-list__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu-btn {
    display: none;
  }

  .mobile-menu {
    display: none;
  }

  .header-container > .logo {
    margin-right: 88px;
  }

  .nav-list {
    display: flex;
    align-items: center;
  }

  .nav-list__item:not(:last-child) {
    margin-right: 50px;
  }

  .nav-list__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: inherit;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }

  .current {
    color: var(--accent-color);
    position: relative;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 4px;
      background-color: var(--accent-color);
      border-radius: 2px;
    }
  }

  .contact {
    margin-left: 84px;
  }

  .contact-link {
    margin-bottom: 10px;
  }

  .contact-icon {
    margin-right: 8px;
    fill: var(--secondary-text-color);
  }

  .contact-link,
  .contact-tel {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: var(--accent-color);

      & .contact-icon {
        fill: var(--accent-color);
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .header-container > .logo {
    margin-right: 92px;
  }

  .contact {
    margin-left: auto;
    display: flex;
  }

  .contact-link {
    margin-right: 30px;
    margin-bottom: 0px;
  }

  .contact-icon {
    margin-right: 10px;
  }

  .contact-link,
  .contact-tel {
    font-size: 14px;
    line-height: 1.14;
  }
}
