.hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero-bgr.jpg);
    background-size: cover;
    background-color: #c4c4c4;
    padding: 200px 0;
}